[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
fastapi-mail = "*"
pydantic = "*"
mysql-connector-python = "*"
uvicorn = "*"
fastapi-security = "*"
hasher = "*"
python-multipart = "*"
bcrypt = "*"
passlib = "*"
fastapi-pagination = "*"
pip = "*"
pyjwt = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
